* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  background-image: url("https://uploads.onecompiler.io/43qyhfqya/44btyv2pp/flicker%20(1).png");
  background-size: cover; 
  background-position: center; 
  height: 100vh;
  color: #111;
}
header{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: start;
  align-items: start;
}
.container{
  height: 100vh;
  width: 50vh;
  display: flex;
  justify-content: start;
  align-items: center;
}
.containercartaz{
  height: 100vh;
  width: 50vh;
  display: flex;
  justify-content: start;
  align-items: center;
}
img{
  flex-shrink: 3;
}
nav{
  width: 45%;
  height: 4vh;
  position: absolute;
  top: 5%;
  right: 0;
  display: flex;
  align-items: start;
  justify-content: flex-end;
}
nav a{
  width: 23%;
  font-size: 2.5vh;
  color: #fff6de;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.titulo{
    width: 85%;
    position: relative;
    display: flex;
    bottom: 20vh;
    left: 79%;
    
}

.estrelas{
    width: 87%;
    position: relative;
    bottom: 63vh;
    left: 5vh;
    display: flex;
    justify-content: start;
}
.fita{
    width: 110%;
    position: relative;
    bottom: 58vh;
    left: 2vh;
    display: flex;
}
.day{
  width: 140%;
  height: 10%;
  font-size: 5vh;
  color: rgb(255, 255, 255);
  font-family:cursive;
  position: relative;
  left: 50vh;
  bottom: 50vh;
  text-align: center;
  rotate: calc(2deg)
}

.liberado{
  font-size: 32px;
  color: red;
  font-family: cursive;
  position: absolute;
  top: 285px;
  rotate: calc(3deg);
}

.selo{
    width: 200%;
    position: relative;
    right: 88vh;
    top: 2.5vh;
    display: flex;
}

.cartaz{
    width: 1000px;
    position: relative;
    display: flex;
    left: 900px;
    top: 70px;
}

.line{
  width: 270px;
  font-size: 35px;
  color: rgba(35, 0, 0, 1.0);
  font-family:cursive;
  position: relative;
  left: 240px;
  top: -135px;
  text-align: center;
  line-height: 2.0;
}