* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  background-image: url("https://uploads.onecompiler.io/43qyhfqya/44btyv2pp/flicker%20(1).png");
  background-size: cover; 
  background-position: center; 
  height: 100vh;
  color: #111;
}
header{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: start;
  align-items: start;
}
.container{
  height: 100vh;
  width: 50vh;
  display: flex;
  justify-content: start;
  align-items: center;
}
.containercartaz{
  height: 100vh;
  width: 50vh;
  display: flex;
  justify-content: start;
  align-items: center;
}
img{
  flex-shrink: 3;
}
p{
  flex-shrink: 3;
}
main{
  display: flex;
}
nav{
  width: 45%;
  height: 4vh;
  position: absolute;
  top: 5%;
  right: 0;
  display: flex;
  align-items: start;
  justify-content: flex-end;
}
nav a{
  width: 23%;
  font-size: 2.5vh;
  color: #fff6de;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.titulo{
    width: 85%;
    position: relative;
    display: flex;
    bottom: 20vh;
    left: 79%;
    
}

.estrelas{
    width: 87%;
    position: relative;
    bottom: 63vh;
    left: 5vh;
    display: flex;
    justify-content: start;
}
.fita{
    width: 110%;
    position: relative;
    bottom: 58vh;
    left: 10vh;
    display: flex;
}
.txt1{
  font-family: cursive;
  position: relative;
  right: 15vh;
  bottom: 48vh;
}
.day{
  text-align: center;
  font-size:3vh;
  color: rgb(0, 0, 0);
  rotate: calc(2deg)
}

.liberado{
  font-size: 4vh;
  color: red;
  rotate: calc(3deg);
}

.selo{
  width: 220%;
  position: relative;
  right: 105vh;
  top: 6vh;
  display: flex;
}

.cartaz{
  width: 1000px;
  position: relative;
  display: flex;
  left: 900px;
  top: 70px;
}

.txt2{
 font-family: cursive;
 width: 150%;
 height: 30vh;
 position: relative;
 bottom: 20vh;
 right: 158vh;
}
.line{
  position: relative;
  bottom: 5vh;
  width: 140%;
  font-size: 4.2vh;
  padding: 9vh;
  color: rgba(35, 0, 0, 1.0);
  text-align: center;
  line-height: 2.0;
}