/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Body */
body {
  font-family: 'Oswald', sans-serif;
  background-image: url(https://uploads.onecompiler.io/43qyrtjtk/44c3afssv/background%20papel.png);
  background-size: cover; 
  background-position: center; 
  height: 100vh;
  color: #111;
  overflow: hidden;
}
/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 5vh;
}

header h1 {
  font-size: 11vh;
  letter-spacing: 0.5vh;
  font-family: 'Anton', sans-serif;
}

/* Nav */
nav{
  width: 45%;
  height: 4vh;
  position: absolute;
  z-index: 4;
  top: 5%;
  right: 0;
  display: flex;
  align-items: start;
  justify-content: end;
}
nav a{
  width: 23%;
  font-size: 3vh;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
}
nav a:hover{
  transition: 0.4s;
  transform: scale(1.05);
  color: #b91515;
}
.loja{
  position: relative;
  left: 5vh;
}
/* Main */
main{
  display: flex;
}

div{
  border-radius: 2vh;
  background-size: cover; 
  background-position: center;
  transition: 0.2s;
}
div:hover{
  transform: scale(1.05);
  transition: 0.4s;
}
section{
  width: 25%;
  height: 100vh;
}
h2{
  text-align: center;
  color: #5a1414fe;
  border-radius: 20px;
  background-color: #df1f1f ;
}
/* Dia 1 */
.dia1 img{
  width: 160%;
  position: relative;
  top: -50%;
  left: -90%;
  z-index: 1;
}
.dia1 div{
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: black;
  position: relative;
  right: -10%;
  width: 80%;
  height: 45%;
  z-index: 2;
  background-image: url(https://uploads.onecompiler.io/43qyrtjtk/44cr7j9ta/Captura%20de%20tela%202026-02-05%20154749.png); 
}
.dia1 h2{
  position: relative;
  font-size: 3vh;
  right: -32%;
  top: -5%;
  width: 30%;
  z-index: 2;
}

/* Dia 2 */
.dia2 div{
  background-color: black;
  width: 80%;
  height: 45%;
  position: relative;
  bottom: -33%;
  z-index: 2;
  background-image: url(https://uploads.onecompiler.io/43qyrtjtk/44cr7jmhq/Captura%20de%20tela%202026-02-05%20154907.png);
}
.dia2 h2{
  position: relative;
  font-size: 3vh;
  right: -23%;
  bottom: -28%;
  width: 30%;
  z-index: 2;
}
/* Dia 3 */
.dia3 div{
  display: flex;
  align-items: start;
  justify-content: start;
  background-color: black;
  position: relative;
  top: -10%;
  right: 18%;
  width: 80%;
  height: 45%;
  z-index: 2;
  background-image: url(https://uploads.onecompiler.io/43qyrtjtk/44cr7mts3/Captura%20de%20tela%202026-02-05%20155207.png);
}
.dia3 h2{
  position: relative;
  font-size: 3vh;
  right: -7%;
  top: -15%;
  width: 30%;
  z-index: 2;
}
.dia3 img{
  width: 100%;
  position: relative;
  top: -72vh;
  left: -42vh;
  z-index: 1;
}
.rock{
  width: 100%;
  position: relative;
  right: 30vh;
  bottom: 10vh;
  z-index: 1;
}
/* Dia 4 */
.dia4 div{
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: black;
  position: relative;
  top: -26%;
  right: 28%;
  width: 80%;
  height: 45%;
  z-index: 2;
  background-image: url(https://uploads.onecompiler.io/43qyrtjtk/44cr7twkj/Captura%20de%20tela%202026-02-05%20155605.png);

}
.dia4 h2{
  position: relative;
  font-size: 3vh;
  right: 17%;
  bottom: 31%;
  width: 60%;
  z-index: 2;
}
.olhos{
  width: 120%;
  position: relative;
  right: 57%;
  bottom: 47vh;
  z-index: 1;
}