* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  background-image: url(https://uploads.onecompiler.io/43qyrtjtk/44c3afssv/background%20papel.png);
  background-size: cover; 
  background-position: center; 
  height: 100vh;
  color: #111;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 5vh;
}

header h1 {
  font-size: 11vh;
  letter-spacing: 0.5vh;
  font-family: 'Anton', sans-serif;
}

nav{
  width: 45%;
  height: 4vh;
  position: absolute;
  top: 5%;
  right: 0;
  display: flex;
  align-items: start;
  justify-content: end;
}
nav a{
  width: 23%;
  font-size: 3vh;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main{
  display: flex;
}
  

/* CONTAINER */
.container {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

/* GRID DE PRODUTOS */
.produtos {
  display: grid;
  grid-template-columns: repeat(3, 270px);
  gap: 100px;
}

/* CARD */
.card {
  height: 200px;
  background: linear-gradient(145deg, #2b0000, #3a0000);
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  letter-spacing: 3px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  transition: 0.3s ease;
}

/* HOVER */
.card:hover {
  transform: translateY(-8px) scale(1.04);
  background: linear-gradient(145deg, #3a0000, #500000);
}