/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Body */
body {
  font-family: 'Oswald', sans-serif;
  background-image: url(https://uploads.onecompiler.io/43qyrtjtk/44c3afssv/background%20papel.png);
  background-size: cover; 
  background-position: center; 
  height: 100vh;
  color: #111;
}
/* Header */
header {
  width: 100vh;
  height: 18vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 5vh;
}

header h1 {
  font-size: 11vh;
  letter-spacing: 0.5vh;
  font-family: 'Anton', sans-serif;
  position: relative;
  z-index: 2;
}

/* Nav */
nav{
  width: 45%;
  height: 4vh;
  position: absolute;
  top: 5%;
  right: 0;
  display: flex;
  align-items: start;
  justify-content: end;
}
nav a{
  width: 23%;
  font-size: 3vh;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
}
nav a:hover{
  transition: 0.4s;
  transform: scale(1.05);
  color: #b91515;
}
/* Main */
main{
  display: flex;
  width: 100vh;
  height: 100vh;
}
br{
  width: 100%;
}
/* Planos */
.selo{
  flex-basis: 100vh;
  flex-grow: 3;
  flex-shrink: 3;
  width: 100vh;
  height: 52vh;
}
.primeiro {
  right: 110vh;
  bottom: 3vh;
  position: relative;
}

.segundo {
  bottom: 73.5vh;
  position: relative;
}

.terceiro {
  bottom: 102vh;
  right: 110vh;
  position: relative;
}

.quarto {
  bottom: 172vh;
  position: relative;
}

/* Imagens */
.estrelas{
  position: absolute;
  right: 0;
  height: 85%;
  bottom: 55vh;
}
section{
  position: relative;
  left: 10vh;
  display: grid;
  gap: 7vh;
}
.saturno{
  position: absolute;
  right: 25vh;
  height: 25vh;
  top: 12vh;
}

.fita{
  position: absolute;
  height: 90vh;
  bottom: 10vh;
  right: 95vh;
}
.raio{
 width: 60%;
 height: 60%;
 position: relative;
 top: 20vh;
 right: 20vh;
}
.moca{
 width: 60%;
 height: 60%;
 position: relative;
 left: 13vh;
}
/* Textos */
h3 {
  color: rgb(255, 255, 255);
  position: relative;
  bottom: 50vh;
  font-size: 4vh;
  left: 15vh;
}

p {
  color: rgb(255, 255, 255);
  position: relative;
  bottom: 49vh;
  font-size: 105%;
  left: 12vh;
  text-align: justify;
  width: 40vh;
}
ul {
  position: absolute;
  list-style: disc; 
  padding-left: 3vh;
  display: flex;
  flex-direction: column;
  gap: 8px;
  left: 10vh;
  bottom: 26vh;
}
ul li {
  color: #fff;
  position: relative;
  bottom: 3.5vh;
  font-size: 2vh;
  line-height: 1.4;
}
.universitario{
  position: relative;
  right: 7vh;
}
.beneficios4{
  position: relative;
  bottom: 45vh;
}