* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  background-image: url(https://uploads.onecompiler.io/43qyrtjtk/44c3afssv/background%20papel.png);
  background-size: cover; 
  background-position: center; 
  height: 100vh;
  color: #111;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 5vh;
}

header h1 {
  font-size: 11vh;
  letter-spacing: 0.5vh;
  font-family: 'Anton', sans-serif;
}

nav{
  width: 45%;
  height: 4vh;
  position: absolute;
  top: 5%;
  right: 0;
  display: flex;
  align-items: start;
  justify-content: end;
}
nav a{
  width: 23%;
  font-size: 3vh;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main{
  display: flex;
}

.segundo {
  display: inline-block;
  position: absolute;
  left: 120vh;
}

.terceiro {
  display: inline-block;
  position: absolute;
  top: 80vh;
  left: 20vh;

  
}

.quarto {
  display: inline-block;
  position: absolute;
  top: 80vh;
  left: 120vh;

}

.primeiro {
  display: inline-block;
  position: absolute;
  left: 20vh;
  top: 19vh;
}

.estrelas{
  display: flex;
  position: absolute;
  left: 186vh;
  height: 80vh;
  bottom: 60vh;
}

.saturno{
  display: flex;
  position: absolute;
  right: 25vh;
  height: 25vh;
  top: 12vh;
}

.fita{
  display: flex;
  position: absolute;
  height: 90vh;
  bottom: 10vh;
  right: 95vh;
}

.terceiro h3 {
  color: rgb(255, 255, 255);
  position: absolute;
  bottom: 55vh;
  font-size: 4vh;
  left: 20vh;
}

.terceiro p {
  display: flex;
  color: rgb(255, 255, 255);
  position: absolute;
  bottom: 47vh;
  font-size: 105%;
  left: 15vh;
  text-align: justify;
  width: 40vh
}

.segundo h3 {
  color: rgb(255, 255, 255);
  position: absolute;
  bottom: 55vh;
  font-size: 4vh;
  left: 24vh;
}

.segundo p {
  display: flex;
  color: rgb(255, 255, 255);
  position: absolute;
  bottom: 47vh;
  font-size: 105%;
  left: 15vh;
  text-align: justify;
  width: 40vh;

}


.primeiro h3 {
  color: rgb(255, 255, 255);
  position: absolute;
  bottom: 55vh;
  font-size: 4vh;
  left: 22vh;
}

.primeiro p {
  display: flex;
  color: rgb(255, 255, 255);
  position: absolute;
  bottom: 47vh;
  font-size: 105%;
  left: 15vh;
  text-align: justify;
  width: 40vh;

}

.quarto h3 {
  color: rgb(255, 255, 255);
  position: absolute;
  bottom: 55vh;
  font-size: 4vh;
  left: 13vh;
}

.quarto p {
  display: flex;
  color: rgb(255, 255, 255);
  position: absolute;
  bottom: 47vh;
  font-size: 105%;
  left: 15vh;
  text-align: justify;
  width: 40vh;

}

.beneficios {
  position: absolute;
  list-style: disc; 
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  left: 16vh;
  bottom: 25vh;
}

.beneficios li {
  color: #fff;
  font-size: 14px;
  line-height: 1.4;
}

.beneficios2 {
  position: absolute;
  list-style: disc; 
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  left: 16vh;
  bottom: 25vh;
}

.beneficios2 li {
  color: #fff;
  font-size: 14px;
  line-height: 1.4;
}

.beneficios3 {
  position: absolute;
  list-style: disc; 
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  left: 16vh;
  bottom: 25vh;
}

.beneficios3 li {
  color: #fff;
  font-size: 14px;
  line-height: 1.4;
}

.beneficios4 {
  position: absolute;
  list-style: disc; 
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  left: 16vh;
  bottom: 29vh;
}

.beneficios4 li {
  color: #fff;
  font-size: 14px;
  line-height: 1.4;
}

/* footer {
  background-color: rgb(129, 0, 0);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.contatos {
  display: flex;
  gap: 20px;
}

.contatos a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.contatos a:hover {
  text-decoration: underline;
}

.footer p {
  font-size: 14px;
  text-align: center;
} */