* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  background-image: url(https://uploads.onecompiler.io/43qyrtjtk/44c3afssv/background%20papel.png);
  background-size: cover; 
  background-position: center; 
  height: 100vh;
  color: #111;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 5vh;
}

header h1 {
  font-size: 11vh;
  letter-spacing: 0.5vh;
  font-family: 'Anton', sans-serif;
}

nav{
  width: 45%;
  height: 4vh;
  position: absolute;
  top: 5%;
  right: 0;
  display: flex;
  align-items: start;
  justify-content: end;
}
nav a{
  width: 23%;
  font-size: 3vh;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main{
  display: flex;
}

.solo {
  display: inline-block;
}

.duo {
  display: inline-block;
}

.familia {
  display: inline-block;
}

.uni {
  display: inline-block;
}

/* footer {
  background-color: rgb(129, 0, 0);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.contatos {
  display: flex;
  gap: 20px;
}

.contatos a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.contatos a:hover {
  text-decoration: underline;
}

.footer p {
  font-size: 14px;
  text-align: center;
} */