body{
    background-image: url("https://uploads.onecompiler.io/43qyhfqya/44btyv2pp/flicker%20(1).png");
}

html, body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

img, .titulo{
    width: 550px;
    position: relative;
    display: flex;
    left: 590px;
    top: -170px;
}

img, .estrelas{
    width: 550px;
    position: absolute;
    display: flex;
    left: 200px;
    top: 10px;
}

img, .selo{
    width: 900px;
    position: absolute;
    display: flex;
    left: -300px;
    top: 390px;
}

img, .fita{
    width: 400px;
    position: absolute;
    display: flex;
    left: 90px;
    top: 150px;
}

img, .cartaz{
    width: 1000px;
    position: absolute;
    display: flex;
    left: 900px;
    top: 70px;
}

p, .line{
  width: 270px;
  font-size: 40px;
  color: rgba(35, 0, 0, 1.0);
  font-family:cursive;
  position: relative;
  left: 240px;
  bottom:250px;
  text-align: center;
  line-height: 1.5;
  bottom: 160px;
}

p, .day{
  width: 270px;
  font-size: 20px;
  color: black;
  font-family:cursive;
  position: absolute;
  left: 240px;
  text-align: center;
  line-height: 2.0;
}

p, .liberado{
  width: 270px;
  font-size: 20px;
  color: black;
  font-family:cursive;
  position: absolute;
  left: 240px;
  text-align: center;
  line-height: 2.0;

}

/* footer {
  background-color: rgba(129, 0, 0, 0);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.contatos {
  display: flex;
  gap: 20px;
}

.contatos a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.contatos a:hover {
  text-decoration: underline;
}

.footer p {
  font-size: 14px;
  text-align: center;
} */

.liberado {
  bottom:530px;
}

.day {
  top: 290px;
} 