body{
    background-image: url("https://uploads.onecompiler.io/43qyhfqya/44btyv2pp/flicker%20(1).png");
}

img, .titulo{
    width: 600px;
    position: relative;
<<<<<<< HEAD
    display: flex;
    left: 550px;
    top: -200px;
}

img, .estrelas{
    width: 600px;
    position: absolute;
    display: flex;
    left: 130px;
    top: 5px;
}

img, .selo{
    width: 900px;
    position: relative;
    display: flex;
    right: 100px;
    bottom: 200px;
}
=======
    display:flex ;
    left: 200px;
    right: 200px;
}
footer {
  background-color: rgb(129, 0, 0);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.contatos {
  display: flex;
  gap: 20px;
}

.contatos a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.contatos a:hover {
  text-decoration: underline;
}

.footer p {
  font-size: 14px;
  text-align: center;
}
>>>>>>> bd41ec95815af314c9c4c38447aeee6c82df0603
